/* ADD CUSTOM CSS TO THE PAGE - THIS AFFECTS DESKTOP AND TABLET DEVICES */
*#dm *.dmBody div.u_ContactUs
{
    padding-left:40px !important;
    float:none !important;
    margin-right:auto !important;
    margin-left:auto !important;
    top:0 !important;
    max-width:none !important;
    left:0 !important;
    width:100% !important;
    margin-top:0 !important;
    position:relative !important;
    margin-bottom:0 !important;
    padding-right:40px !important;
    min-width:0 !important;
    text-align:center !important;
    height:auto !important;
    padding-top:70px !important;
    padding-bottom:70px !important;
}
*#dm *.dmBody div.u_1229039102
{
    padding-right:15px !important;
    padding-left:15px !important;
}
*#dm *.dmBody div.u_1230512981
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    max-width:calc(100% - 0px) !important;
    padding-right:0 !important;
    min-width:25px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    margin-top:14px !important;
    margin-bottom:8px !important;
}
*#dm *.dmBody div.u_PLANS
{
    padding-top:80px !important;
}
*#dm *.dmBody div.u_FEATURES
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-left:40px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:none !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:40px !important;
    min-width:0 !important;
    text-align:center !important;
    padding-top:100px !important;
    padding-bottom:30px !important;
}
*#dm *.dmBody div.u_TESTIMONIALS
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:none !important;
    margin-top:0 !important;
    min-width:0 !important;
    text-align:center !important;
    padding-right:20px !important;
    padding-left:20px !important;
    margin-bottom:0 !important;
    padding-bottom:100px !important;
    padding-top:100px !important;
}
*#dm *.dmBody div.u_HOWITWORKS
{
    padding-top:130px !important;
    padding-bottom:130px !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-position:50% 50% !important;
}
*#dm *.dmBody div.u_1414742659
{
    padding-top:0 !important;
    padding-bottom:0 !important;
    background-repeat:repeat !important;
    background-size:auto !important;
    background-position:center center !important;
    padding-right:0 !important;
    padding-left:0 !important;
}
*#dm *.dmBody h3.u_1656622012
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:100% !important;
    margin-top:10px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:0 !important;
    text-align:center !important;
    display:block !important;
}
*#dm *.dmBody h3.u_1896470674
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 0px) !important;
    margin-top:19px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
}
*#dm *.dmBody h3.u_1474169481
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 0px) !important;
    margin-top:10px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
}
*#dm *.dmBody div.u_1537068476
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:70px !important;
    padding-left:40px !important;
    padding-bottom:70px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:none !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:40px !important;
    min-width:0 !important;
    text-align:center !important;
    background-attachment:fixed !important;
    background-size:cover !important;
}
*#dm *.dmBody div.u_1488053139
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:960px !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:100% !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:0 !important;
}
*#dm *.dmBody h2.u_1223738369
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:0 !important;
    margin-left:0 !important;
    max-width:calc(100% - 0px) !important;
    margin-top:0 !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:left !important;
}
*#dm *.dmBody div.u_1223738369
{
    display:block !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:160.031px !important;
    margin-left:0 !important;
    max-width:calc(100% - 0px) !important;
    margin-top:8px !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody h4.u_1223738369
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:0 !important;
    margin-left:0 !important;
    max-width:calc(100% - 0px) !important;
    margin-top:0 !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:left !important;
}
*#dm *.dmBody div.u_1172344757
{
    padding-right:10px !important;
    padding-left:10px !important;
}
*#dm *.dmBody div.u_1048081787
{
    padding-right:10px !important;
    padding-left:10px !important;
}
*#dm *.dmBody div.u_1217362200
{
    padding-right:10px !important;
    padding-left:10px !important;
}
*#dm *.dmBody div.u_1774787275
{
    margin-top:7px !important;
    display:block !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 0px) !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody div.u_1994569934
{
    margin-top:8px !important;
    display:block !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 0px) !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody div.u_Firstrow
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:100px !important;
    padding-left:40px !important;
    padding-bottom:100px !important;
    max-width:none !important;
    padding-right:40px !important;
    min-width:0 !important;
    text-align:center !important;
    margin-top:0 !important;
}
*#dm *.dmBody h2.u_1320796257
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    max-width:calc(100% - 0px) !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:left !important;
}
*#dm *.dmBody div.u_1320796257
{
    display:block !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    max-width:calc(100% - 0px) !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody h4.u_1320796257
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    max-width:calc(100% - 0px) !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:left !important;
}
*#dm *.dmBody h2.u_1993290990
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:578px !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    max-width:calc(100% - 191px) !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
}
*#dm *.dmBody div.u_1474169481
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 0px) !important;
    margin-top:20px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody div.u_1647934300
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:120px !important;
    padding-left:20px !important;
    padding-bottom:120px !important;
    max-width:none !important;
    padding-right:20px !important;
    min-width:0 !important;
    text-align:center !important;
    background-attachment:fixed !important;
    background-size:cover !important;
}
*#dm *.dmBody div.u_1168769386
{
    padding-right:30px !important;
}
*#dm *.dmBody div.u_1831387870
{
    padding-left:15px !important;
    padding-right:0 !important;
    margin-top:0 !important;
    background-position:50% 50% !important;
}
*#dm *.dmBody div.u_1375431759
{
    padding-right:10px !important;
    padding-left:10px !important;
}
*#dm *.dmBody div.u_1771437952
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:120px !important;
    padding-left:20px !important;
    padding-bottom:120px !important;
    max-width:none !important;
    padding-right:20px !important;
    min-width:0 !important;
    text-align:center !important;
    background-attachment:fixed !important;
    background-size:cover !important;
}
*#dm *.dmBody div.u_1055851428
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:39px !important;
    position:relative !important;
    height:51px !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 445px) !important;
    margin-top:20px !important;
    margin-bottom:10px !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
}
*#dm *.dmBody div.u_1983089609
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 0px) !important;
    margin-top:0 !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody div.u_1535123411
{
    margin-left:auto !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-top:180px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    margin-right:auto !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:646px !important;
    position:relative !important;
    height:auto !important;
    max-width:100% !important;
    min-width:0 !important;
    display:block !important;
}
*#dm *.dmBody div.u_1484672827
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:646px !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    max-width:100% !important;
    padding-right:0 !important;
    min-width:0 !important;
    display:block !important;
    margin-right:auto !important;
    margin-left:auto !important;
    margin-top:8px !important;
    margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1385530756
{
    height:106px !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    position:relative !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 0px) !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
}
*#dm *.dmBody div.u_1637826691
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:230px !important;
    position:relative !important;
    height:464px !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:0 !important;
    margin-left:0 !important;
    max-width:calc(100% - 0px) !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
}
*#dm *.dmBody div.u_pa_8552430
{
    padding-top:62.5px !important;
    padding-bottom:200px !important;
    padding-left:40px !important;
    float:none !important;
    margin-right:auto !important;
    margin-left:auto !important;
    top:0 !important;
    max-width:none !important;
    left:0 !important;
    width:100% !important;
    margin-top:0 !important;
    position:relative !important;
    margin-bottom:0 !important;
    padding-right:40px !important;
    min-width:0 !important;
    text-align:center !important;
    height:auto !important;
    background-repeat:no-repeat !important;
    background-size:cover !important;
    background-attachment:initial !important;
    background-position:0 50% !important;
}
*#dm *.dmBody div.u_1869055316
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:827px !important;
    position:relative !important;
    height:auto !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    max-width:calc(100% - 162px) !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    margin-right:auto !important;
    margin-left:auto !important;
    margin-top:25px !important;
    margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1993290990
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:810px !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:calc(100% - 60px) !important;
    margin-top:8px !important;
    margin-bottom:8px !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody div.u_1003612777
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:0 !important;
    margin-left:0 !important;
    max-width:70px !important;
    margin-top:81px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
}
*#dm *.dmBody div.u_1015970527
{
    width:calc(100% - 104px) !important;
    height:90px !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    position:relative !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    max-width:88px !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
    margin-right:auto !important;
    margin-left:auto !important;
    margin-top:0 !important;
    margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1237985659
{
    width:calc(100% - 104px) !important;
    height:90px !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    position:relative !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    max-width:88px !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
    margin-right:auto !important;
    margin-left:auto !important;
    margin-top:0 !important;
    margin-bottom:10px !important;
}
*#dm *.dmBody div.u_1207642055
{
    width:calc(100% - 104px) !important;
    height:90px !important;
    margin-bottom:0 !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    position:relative !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:88px !important;
    margin-top:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
}
*#dm *.dmBody div.u_1656622012
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:100% !important;
    margin-top:20px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody div.u_1896470674
{
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    max-width:100% !important;
    margin-top:20px !important;
    margin-bottom:0 !important;
    padding-right:0 !important;
    min-width:25px !important;
}
*#dm *.dmBody div.u_1867932073
{
    display:block !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0 !important;
    padding-bottom:2px !important;
    max-width:100% !important;
    padding-right:0 !important;
    min-width:25px !important;
    margin-right:auto !important;
    margin-left:auto !important;
    margin-top:8px !important;
    margin-bottom:8px !important;
}
*#dm *.dmBody div.u_1422512052
{
    width:calc(100% - 104px) !important;
    height:90px !important;
    float:none !important;
    top:0 !important;
    left:0 !important;
    position:relative !important;
    padding-top:0 !important;
    padding-left:0 !important;
    padding-bottom:0 !important;
    max-width:88px !important;
    padding-right:0 !important;
    min-width:25px !important;
    text-align:center !important;
    display:block !important;
}
*#dm *.dmBody *.u_1869055316 .photoGalleryThumbs
{
    padding:10px !important;
}
*#dm *.dmBody *.u_1869055316 .layout-container
{
    padding:10px !important;
}
*#dm *.dmBody *.u_1869055316 .photoGalleryViewAll
{
    padding:0 20px !important;
}
*#dm *.dmBody *.u_1869055316 *.photoGalleryThumbs *.image-container a
{
    padding-top:80px !important;
}
*#dm *.dmBody div.u_1133585218
{
    display:block !important;
    float:none !important;
    top:0px !important;
    left:0px !important;
    width:calc(100% - 0px) !important;
    position:relative !important;
    height:auto !important;
    padding-top:2px !important;
    padding-left:0px !important;
    padding-bottom:2px !important;
    max-width:100% !important;
    padding-right:0px !important;
    min-width:25px !important;
    margin-right:0px !important;
    margin-left:0px !important;
    margin-top:22px !important;
    margin-bottom:8px !important;
}
